<!DOCTYPE html>
<html>
    <head>
    <title>League Of Legends MatchID Twitter Bot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
    <script src="/js/main.js"></script>
    </head>

    <body>
        <p>Enter a Match ID</p>
        <br />MatchId
        <input id="matchId" />
        <br />
        <input type="submit" onclick="matchLookUp();"</input>
    </body>

</html>