<!DOCTYPE html>
<html>
    <head>
    <title>League Of Legends MatchID Twitter Bot</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
    <script src="/js/require.js"></script>
    <script src="/js/codebird.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
    </head>

    <body>
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- InitialTwitterBot -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4353071975176683"
     data-ad-slot="5851306455"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
        <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <div class="form-group">
        <label>Enter your Twitter Account Name</label>
                <br />
        <input id="twitterHandle" class="form-control" type="name"</input> 
        <br />
        <label>Enter a Summoners Name</label>
                <br />

        <input id="sName" class="form-control" />
        <br />
        <input type="submit" class ="btn btn btn-primary" onclick="getInput();"</input>
        </div>
        </div>
        </div>
        </div>
    </body>

</html>