<!DOCTYPE html>
<html>
    <head>
    <title>League Of Legends MatchID Twitter Bot</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
    <script src="/js/require.js"></script>
    <script src="/js/codebird.js"></script>
    <script src="/js/main.js"></script>

    </head>

    <body>
        <label>Enter your Twitter Account Name</label>
                <br />
        <input id="twitterHandle" type="name"</input> 
        <br />
        <label>Enter a SummonerName</label>
                <br />

        <input id="sName" />
        <br />
        <input type="submit" onclick="getInput();"</input>
    </body>

</html>